/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* debug*/

.debug * {
    border: solid red 3px;
    padding: 15px;
}

/* style */
