/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* debug*/

.debug * {
    border: solid #d46bea 3px;
    padding: 15px;
}

/* style */

/* header style */
#main-header {
    border: solid salmon 3px;
}

.navbar {
    max-width: 800px;
    margin: 0px auto;
    border: solid skyblue 3px;
    display: flex;
    justify-content: space-between;
}


[class^="nav"] {
    border: lightseagreen solid 3px;
    background-color: slateblue;
    color: white;
}

.navbar:nth-child(odd) {
    flex-basis: 25%;
}

.nav-menu {
    flex-basis: 50%;
}

/* main style */

section {
    border: solid red 3px;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    min-height: 400px;
    border: solid skyblue 3px;
    display: flex;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    min-height: 200px;
    border: solid yellow 3px;
    flex-basis: 80%;
}

[class^="col"] {
    border: solid purple 3px;
}

.col60 {
    flex-basis: 60%;
}

.col40 {
    flex-basis: 40%;
}

#reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bigPic {
    border: solid greenyellow;
    flex-basis: 100%;
}

/* footer style */



 .footer .col {
    border: solid black 3px;
    flex-basis: calc(100%  / 6);
    align-content: stretch;
}

.footer-container {
    max-width: 800px;
    margin: 0px auto;
    border: solid blue 3px;
    display: flex;
    justify-content: space-between;
}

.footer-container .col {
    flex-basis: 20%;
    padding: 20px 0px;
}